body {
    margin-top: 70px;
}

.list-group-item h5 {
    cursor: pointer;
}

.index-store-item {
    font-size: 13px;
}

.store-item {
    border: none;
    padding-left: 0;
}

.store-detail-price {
    font-size: 12px;
    color: #a94442;
}

.form-container {
    margin: 0 auto;
    width: 400px;
}

.form-error {
    color: #a94442;
}

.manage-table {
    font-size: 13px;
}

td {
    vertical-align: middle !important;
}

.alpha {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 1031;
    background-color: black;
}

.modal-dialog{
    width: 300px;
}

.dialog {
    z-index: 1032;
    position: fixed;
}

.tip-hd {
    position: relative;
}

.tip-hd > .tooltip {
    opacity: 1;
    top: -30px;
}

.mg-rt {
    margin-right: 5px;
}

.index-current {
    padding-top: 5px;
    background-color: #fefffd;
}

.user-container{
    margin: 0 auto;
    width: 1400px;
}